<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Die Grenzen meiner Sprache bedeuten die Grenzen meiner Welt. - Ludwig Wittgenstein</string>
	<string>Wer fremde Sprachen nicht kennt, weiß nichts von seiner eigenen.  - Johann Wolfgang von Goethe</string>
	<string>Notitia linguarum est prima porta sapientiae. - Roger Bacon</string>
	<string>Bir dil bir insan, iki dil iki insan.</string>
	<string>Language is the road map of a culture. It tells you where its people come from and where they are going. - Rita Mae Brown</string>
	<string>La lengua es la piel del alma. - Fernando Lázaro Carreter</string>
	<string>學而時習之 不亦說乎</string>
	<string>Kolik jazyků znáš, tolikrát jsi člověkem. - Tomáš Garrigue Masaryk</string>
	<string>Every language is a temple, in which the soul of those who speak it is enshrined. - Oliver Wendell Holmes</string>
	<string>La parole a été donnée à l&apos;homme pour déguiser sa pensée. - Charles Maurice de Talleyrand-Périgord</string>
	<string>Am fear a chailleas a chanain caillidh e a shaoghal.</string>
	<string>学一门语言，就是多一个观察世界的窗户。</string>
	<string>Un vocabolario può contenere solo una piccola parte del patrimonio di una lingua. - Giacomo Leopardi</string>
	<string>Perhaps of all the creations of man language is the most astonishing. - Giles Lytton Strachey</string>
	<string>Le mal qui est dans le monde vient presque toujours de l&apos;ignorance - Albert Camus</string>
	<string>If you talk to a man in a language he understands, that goes to his head. If you talk to him in his language, that goes to his heart. - Nelson Mandela</string>
	<string>قوّة الإنسان فى عقله و لسانه</string>
</array>
</plist>
