<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>“The limits of my language are the limits of my world.” - Ludwig Wittgenstein</string>
	<string>“Those who know nothing of foreign languages know nothing of their own.”  - Johann Wolfgang von Goethe</string>
	<string>“The conquest of learning is achieved through the knowledge of languages.” - Roger Bacon</string>
	<string>“Language is the road map of a culture. It tells you where its people come from and where they are going.” - Rita Mae Brown</string>
</array>
</plist>
